@import './globals';

.star{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1px;
  float: left;
  background-color: darken($darkgrey, 40%);
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  background-color: $oc-yellow-6;
}

.star-rating{
  width: 100%;
  overflow: hidden;
}

.star-wrapper{
  width: 127px;
}
